@model List<ResultCategoryDto>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheed" />
<div class="container">
    <br /><br />
    <table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
    </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.CategoryID</td>
                <td>@item.CateoryName</td>
            </tr>
        }

</div>