@model UpdateBrandDto
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Marka Güncelle Sayfası</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">

                        <input type="hidden" readonly class="form-control" asp-for="BrandID" />
                        <br />
                        <label>Marka Adı</label>
                        <input type="text" class="form-control" asp-for="BrandName" />
                        <br />
                        <label>Görsel Url</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <button class="btn btn-primary">Markayı Güncelle</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
