@model UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Öne Çıkan Güncelleme Sayfası</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">

                        <input type="hidden"  readonly class="form-control" asp-for="FeatureID" />
                        <br />
                        <label>Başlık</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>İkon</label>
                        <input type="text" class="form-control" asp-for="Icon" />
                        
                        <br />
                        <button class="btn btn-primary">Öne Çıkanı Güncelle</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

